.Satisfaction{
    padding: 8rem;
    /* background-color: white; */
    height: 24rem;
}
.Satisfaction-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.Satisfaction-center .card-1{
    text-align: center;
    flex-direction: column;
    margin-right: 0rem;
    padding: 2rem;
}
.Satisfaction-center .card-2{
    text-align: center;
    flex-direction: column;
    margin-right: 0rem;
    padding: 2rem;
}
.Satisfaction-center .card-3{
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}
.Satisfaction-center .card-1 img{
    width:4rem;
    height:4rem;
}
.Satisfaction-center .card-1 h3{
    font-size: 1.5rem;
    color: burlywood;
    text-transform: uppercase;
    font-family: system-ui;
    text-align: center;

}
.Satisfaction-center .card-1 p{
    font-size: 1.2rem;
    width: 25rem;
    text-align: center;
    font-family: system-ui;
}
.Satisfaction-center .card-2 img{
    width:4rem;
    height:4rem;
}
.Satisfaction-center .card-2 h3{
    font-size: 1.5rem;
    color: burlywood;
    text-transform: uppercase;
    font-family: system-ui;
    text-align: center;

}
.Satisfaction-center .card-2 p{
    font-size: 1.2rem;
    width: 25rem;
    text-align: center;
    font-family: system-ui;
}
.Satisfaction-center .card-3 img{
    width:4rem;
    height:4rem;
}
.Satisfaction-center .card-3 h3{
    font-size: 1.5rem;
    color: burlywood;
    text-transform: uppercase;
    font-family: system-ui;
    text-align: center;

}
.Satisfaction-center .card-3 p{
    font-size: 1.2rem;
    width: 25rem;
    text-align: center;
    font-family: system-ui;
}
@media screen and (max-width: 768px) {
    .Satisfaction{
        margin-bottom:25rem;
    }
    .Satisfaction-center{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .Satisfaction-center .card-3{
        text-align: center;
        flex-direction: column;
        padding: 2rem;
    }
  }
  